:root {
    /* bg colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

@media(max-width:900px){
    .navbar-list{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    display: none;
    z-index: 3;
} 

#menu:checked + .navbar-list{ 
    display: flex;

} 
#menu:checked ~ .bluriado{
    display: block;
}
/* SECTION INITION */
#section-inicio{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contenedor-inicio{
    width: 95%;
}
.titulo{
    width: 100%;
}
/* SECTION INITION */

/* SECTION DESCRIPCION */
#section-descripcion{
    display: none;
}
#section-descripcion-responsive{
    display: flex;
}
.contenedor-descripcion{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contenedor1{
    width: 100%;
    margin-bottom: 20px;
    
}
.contenedor1 p{
    width: 100%;
}
.contenedor2{
    width: 100%;
    margin-top: 20px;
}
.contenedor2 p{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.contenedor2 h3{
    width: 100%;
    display: flex;
    text-align: center;
    
}

/* SECTION DESCRIPCION */

/* SECTION JUGADORES */

.contenedor-h2 h2{
    font-size: 40px;
}
/* SECTION JUGADORES */

/* SECTION VIDEOS */
.video-title h2{
    font-size: 40px;
}

/* SECTION VIDEOS */

/* SECTION MEMES */
.memes-title h2{
    font-size: 40px;
}

/* SECTION MEMES */

/* SECTION CONTACTO */


.contenedor-contacto{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre-apellido{
    justify-content: center;
    align-items: center;
}

.icon-email-telefono{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-textarea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-btn{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.google-map{
    width: 70%;
    margin-bottom: 20px;
}
/* SECTION CONTACTO */
}
.menu{
    color:var(--bg-electric);
    font-size: 30px;
    margin-right: 30px;
    z-index: 3;
}
.menu-hamburguesa{
    z-index: 3;
}
@media (max-width: 500px){
    .navbar-list{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    display: none;
    width: 60%;
    padding: 0;
    margin: 0;
    background: var(--secondary);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 0 0 10px ;
    border: solid var(--electric) 1px ;
    border-right: none;
} 



/* SECTION INICIO */

#section-inicio{
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    
}
.contenedor-inicio{
    width: auto;
    justify-content: center;
    align-items: center;
   
}
.img-scaloneta{
    width: 95%;
    height: auto;
    margin-top: 20px;
    
}        
.titulo{
    font-size: 40px;
}
.descripcion{
    font-size: 15px;
    margin-top: 20px;

}
/* SECTION INICIO */

/* SECTION DESCRIPCION */
.contenedor-descripcion{
    margin-top: 0;
}
.contenedor2 h3{
    font-size: 25px;
}
/* SECTION DESCRIPCION */

/* SECTION-VIDEOS */
.contenedor-videos{
    width: 100%;
}
.videos{
    width: 280px;
    height: 150px;
    
}
.videos-ind{
    width: 350px;
    height: 160px;
}

/* SECTION-VIDEOS */

/* SECTION MEMES */
/* #section-memes img{
    width: 300px;
    height: 350px;
} */

/* SECTION MEMES */

/* SECTION CONTACTO */
.contenedor-contacto{
    width: 100%;
}
.google-map{
    margin-top: 0;
    width: 90%;
}
/* SECTION FOOTER */
.footer p{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* SECTION FOOTER */
}
/* SECTION CONTACTO */